body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container .eye {
	position: relative;
	width: 20em;
	height: 20em;
	margin: 0 auto;
	background-color: #e0cbc6;
	border-radius: 100% 0px;
	transform: rotate(45deg);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #5e481e;
	overflow: hidden;
	box-shadow: 5px 16px 20px 0px lightgrey;
	animation: open 0.4s;
}

.container .eye:after {
	content: "";
	width: 24em;
	height: 24em;
	position: absolute;
	border-radius: 100%;
	background-color: white;
	box-shadow: inset -3px 4px 20px 0px lightgray;
}

.container .eye .pupil {
	width: 5em;
	height: 5em;
	background-color: black;
	border-radius: 100%;
	transition-duration: 0.5s;
}

.container .eye .iris {
	transform: rotate(-45deg);
	width: 15em;
	height: 15em;
	background-color: #5e481e;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	z-index: 1;
	box-shadow: 0px 0px 20px 0px #8b4513;
	margin-bottom: 3em;
	margin-right: 3em;
}

.container .eye .iris .iris-1 {
	height: 14em;
	width: 14em;
	box-shadow: 0 0 1px 1px #5e481e;
	background: linear-gradient(90deg, #5e481e 1%, #5e481e 22%, #5e481e 50%, #5e481e 76%, #5e481e 99%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.container .eye .iris .iris-2 {
	height: 13em;
	width: 13em;
	box-shadow: 0 0 1px 1px #542a0e;
	background: linear-gradient(90deg, #542a0e 1%, #542a0e 22%, #542a0e 50%, #542a0e 76%, #542a0e 99%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.container .eye .iris .iris-3 {
	height: 12em;
	width: 12em;
	box-shadow: 0 0 1px 1px #63390f;
	background: linear-gradient(90deg, #63390f 1%, #63390f 22%, #63390f 50%, #63390f 76%, #63390f 99%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.container .eye .iris .iris-4 {
	height: 11em;
	width: 11em;
	box-shadow: 0 0 1px 1px #603101;
	background: linear-gradient(90deg, #603101 1%, #603101 22%, #603101 50%, #603101 76%, #603101 99%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.container .eye .iris .iris-5 {
	height: 10em;
	width: 10em;
	box-shadow: 0 0 1px 1px #451800;
	background: linear-gradient(90deg, #451800 1%, #451800 22%, #451800 50%, #451800 76%, #451800 99%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.container .eye .iris .iris-6 {
	height: 9em;
	width: 9em;
	box-shadow: 0 0 1px 1px #451800;
	background: linear-gradient(90deg, #451800 1%, #451800 22%, #451800 50%, #451800 76%, #451800 99%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.container .eye .iris:hover .pupil {
	width: 6em;
	height: 6em;
}

.container .eye .brightness {
	width: 2em;
	height: 3em;
	background-color: white;
	position: absolute;
	z-index: 1;
	top: 5em;
	border-radius: 14px 31px 10px 7px / 68px 28px 4px 9px;
	opacity: 0.8;
}

.container .eye .brightness--1 {
	position: absolute;
	width: 1em;
	height: 2em;
	top: 11em;
	left: 7em;
	background-color: white;
	box-shadow: none;
	z-index: 1;
	border-radius: 27px 26px 23px 9px / 92px 58px 43px 14px;
	opacity: 0.8;
}

@keyframes open {
	from {
		height: 0em;
		transform: rotate(0deg);
	}

	to {
	}
}